:root {
    --font: "Voska";
    --clr-background: hsl(27, 23%, 17%);
    --clr-text: hsl(27, 23%, 80%);
    --clr-text-dark: hsl(27, 23%, 25%);
    --clr-boss-highlight: hsl(120, 68%, 45%);

    --card-button-shadow: drop-shadow(0 0 6px black);
    --card-property-shadow: drop-shadow(0 0 6px black);
}

@font-face {
    font-family: "Voska";
    src: url("./assets/fonts/Voska.otf");
}

* {
    box-sizing: border-box;
    font-family: var(--font);
}

body {
    margin: 0;
    background-color: var(--clr-background);
    color: var(--clr-text);
    height: 100dvh;
}

button.svgbutton {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.svgbutton {
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        filter: brightness(1.1);
        scale: 1.05;
    }

    &:active {
        scale: 0.8;
        opacity: 0.8;
    }
}

input.input:is([type="text"], [type="number"]) {
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 0.2em 0.6em;
    background-color: transparent;
    border: 1px solid var(--clr-text);
    color: var(--clr-text);
}

.screen-container {
    display: flex;
    height: 100%;
    padding: min(2em, 4vh) min(3em, 6vw);
}

.screen-container[data-screen="home"] > .screen:not(.screen--home),
.screen-container[data-screen="world"] > .screen:not(.screen--world)
{
    display: none;
}



.screen--home > .game-logo {
    font-size: 3rem;
    margin-top: 0;
}

.worlds-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.world {
    position: relative;
    background-color: hsl(from var(--clr-background) h s 80%);
    color: var(--clr-text-dark);
    padding: 0.5em 0.6em;
    width: 200px;
    min-height: 210px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s;

    .world-title {
        font-size: 1.3rem;
    }

    &:hover {
        filter: brightness(1.1);
        scale: 1.05;
    }
}

.world--add svg {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 40%;
    height: 40%;
    fill: var(--clr-text-dark);
}


.world-nav {
    display: flex;
    align-items: center;
    gap: 20px;

    h2 {
        margin-block: 0;
    }

    .world-back-button svg {
        width: 3em;
        height: 3em;
        fill: var(--clr-text);
    }
}

.worldcards, .worldcards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 5px;
}

.worldcard {
    width: 200px;
    aspect-ratio: 241 / 344;
    border-radius: 20px;
    color: white;
    container-type: inline-size;

    .worldcard-grid {
        width: 100%;
        height: 100%;
        text-align: center;
        background-image: url("./assets/images/card.png");
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 50% 1fr;
        justify-items: center;
        padding-inline: 10cqmin;
        padding-top: 5cqh;
        padding-bottom: 2cqh;
    }
    
    .worldcard-delete {
        fill: white;
        position: absolute;
        top: 5px;
        right: 10px;
        cursor: pointer;
        user-select: none;
    }

    .worldcard-property {
        color: white;
    }

    input, textarea {
        font-size: 1.2rem;
        border: none;
        background-color: transparent;
        resize: none;
        width: 100%;
        text-align: center;
        color: white;
        outline: none;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    .worldcard-name {
        padding: 10px 15px;
        margin: 0 auto;
        font-size: 1.4rem;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        grid-column: 1 / -1;
        background: url("./assets/images/text-banner.webp");
        background-size: contain;
        background-repeat: no-repeat;
    }

    .worldcard-name::placeholder {
        text-shadow: none;
    }

    .worldcard-property-container {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-rows: 50px 15px 1fr 15px;
        border-radius: 50%;
        align-self: end;

        .worldcard-property-icon-container {
            position: relative;
        }

        .worldcard-property-icon {
            position: absolute;
            width: min(100px, 48cqw);
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            filter: var(--card-property-shadow);
        }

        .worldcard-promote {
            height: 40px;
            filter: var(--card-button-shadow);
            transition: 0.2s;
            cursor: pointer;
            user-select: none;
            fill: white;
            
            &:hover {
                /* filter: drop-shadow(0 0 4px black) brightness(1.2); */
                /* filter: var(--card-button-shadow); */
                scale: 1.05;
                translate: 0 -5px;
            }
            
            &:active {
                scale: 0.8;
            }
        }

        .worldcard-property-arrow {
            width: 15px;
            height: 15px;
            fill: white;
            stroke: black;
            stroke-width: 30px;
            cursor: pointer;
            user-select: none;
        }

        .worldcard-property-arrow[data-disabled="true"] {
            pointer-events: none;
            fill: #aaa;
            opacity: 0.6;
        }
        
        input[type='number'] {
            color: white;
            appearance: textfield;
            padding: 0;
            font-size: 2rem;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }

    .worldcard-property, .worldcard-property-arrow, .worldcard-promote, .worldcard-type-picker {
        position: relative;
        z-index: 1;
    }

    .worldcard-type-picker {
        width: 25cqmin;
        height: 25cqmin;
        background-image: url("./assets/images/earth_icon.png");
        background-size: contain;
        background-repeat: no-repeat;
        align-self: center;
        position: relative;
        filter: var(--card-button-shadow);
        transition: 0.2s;

        &:hover {
            scale: 1.05;
            filter: var(--card-button-shadow) brightness(1.1);
        }

        &:active {
            scale: 0.9;
            filter: var(--card-button-shadow);
        }

        input[type="radio"] {
            position: absolute;
            inset: 0;
            appearance: none;
            cursor: pointer;
            user-select: none;
            margin: 0;
            z-index: 1;
        }

        &:has(input[type="radio"][value="earth"]:checked) {
            background-image: url("./assets/images/earth_icon.png");
        }
        &:has(input[type="radio"][value="fire"]:checked) {
            background-image: url("./assets/images/fire_icon.png");
        }
        &:has(input[type="radio"][value="water"]:checked) {
            background-image: url("./assets/images/water_icon.png");
        }
        &:has(input[type="radio"][value="air"]:checked) {
            background-image: url("./assets/images/wind_icon.png");
        }

        &:has(input[type="radio"][value="earth"]:checked) input[type="radio"]:not([value="fire"]),
        &:has(input[type="radio"][value="fire"]:checked) input[type="radio"]:not([value="water"]),
        &:has(input[type="radio"][value="water"]:checked) input[type="radio"]:not([value="air"]),
        &:has(input[type="radio"][value="air"]:checked) input[type="radio"]:not([value="earth"])
        {
            display: none;
        }
    }

    &.boss {
        .worldcard-property-arrow {
            visibility: hidden;
        }

        .worldcard-type-picker {
            pointer-events: none;
            filter: none;
        }
    }

    &.boss--health .worldcard-promote[data-boss-type="health"],
    &.boss--attack .worldcard-promote[data-boss-type="attack"]
    {
        fill: var(--clr-boss-highlight);
        pointer-events: none;
        filter: none;
    }
    
    .worldcard-promote[data-disabled="true"] {
        pointer-events: none;
        filter: none;
    }

    &.boss--health .worldcard-property[name="health"],
    &.boss--attack .worldcard-property[name="attack"]
    {
        color: var(--clr-boss-highlight);
    }
}

.worldcard--add {
    background-image: url("./assets/images/card-add.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;

    svg {
        fill: white;
    }

    &:hover {
        filter: brightness(1.1);
        scale: 1.05;
    }
}