:root {
    --font: "Voska";
    --clr-background: hsl(27, 23%, 17%);
    --clr-text: hsl(27, 23%, 80%);
    --clr-text-dark: hsl(27, 23%, 25%);
}

@font-face {
    font-family: "Voska";
    src: url("./assets/fonts/Voska.otf");
}

* {
    box-sizing: border-box;
    font-family: var(--font);
}

body {
    margin: 0;
    background-color: var(--clr-background);
    color: var(--clr-text);
    height: 100dvh;
}

button.svgbutton {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.svgbutton {
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        filter: brightness(1.1);
        scale: 1.05;
    }

    &:active {
        scale: 0.8;
        opacity: 0.8;
    }
}

input.input:is([type="text"], [type="number"]) {
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 0.2em 0.6em;
    background-color: transparent;
    border: 1px solid var(--clr-text);
    color: var(--clr-text);
}

.screen-container {
    display: flex;
    height: 100%;
    padding: min(2em, 4vh) min(3em, 6vw);
}

.screen-container[data-screen="home"] > .screen:not(.screen--home),
.screen-container[data-screen="world"] > .screen:not(.screen--world)
{
    display: none;
}



.screen--home > .game-logo {
    font-size: 3rem;
    margin-top: 0;
}

.worlds-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.world {
    position: relative;
    background-color: hsl(from var(--clr-background) h s 80%);
    color: var(--clr-text-dark);
    padding: 0.5em 0.6em;
    width: 200px;
    min-height: 210px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s;

    .world-title {
        font-size: 1.3rem;
    }

    &:hover {
        filter: brightness(1.1);
        scale: 1.05;
    }
}

.world--add svg {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 40%;
    height: 40%;
    fill: var(--clr-text-dark);
}


.world-nav {
    display: flex;
    align-items: center;
    gap: 20px;

    h2 {
        margin-block: 0;
    }

    .world-back-button svg {
        width: 3em;
        height: 3em;
        fill: var(--clr-text);
    }
}

.worldcards, .worldcards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 5px;
}

.worldcard {
    width: 200px;
    aspect-ratio: 241 / 344;
    border-radius: 20px;
    color: white;
    text-align: center;
    background-image: url("./assets/images/card-overlays.png"), url("./assets/images/card.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    
    .worldcard-delete {
        fill: white;
        position: absolute;
        top: 5px;
        right: 10px;
        cursor: pointer;
        user-select: none;
    }

    .worldcard-property {
        color: white;
    }

    input, textarea {
        font-size: 1.2rem;
        border: none;
        background-color: transparent;
        resize: none;
        width: 100%;
        text-align: center;
        color: white;
        outline: none;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    .worldcard-name {
        padding: 0;
        position: absolute;
        top: 38px;
        left: 50%;
        translate: -50% 0;
        width: 68%;
        font-size: 1.4rem;
        /* text-shadow: 0 0 5px black; */
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        /* -webkit-text-stroke: 1px black; */
    }

    .worldcard-property-container {
        display: grid;
        justify-items: center;
        grid-template-rows: 50px 15px 1fr 15px;
        border-radius: 50%;
        position: absolute;
        bottom: 6%;

        .worldcard-boss-upgrade {
            height: 40px;
            filter: drop-shadow(0 0 4px black);
            transition: 0.2s;
            cursor: pointer;
            user-select: none;

            &:hover {
                filter: drop-shadow(0 0 4px black) brightness(1.2);
                scale: 1.05;
            }

            &:active {
                scale: 0.8;
            }
        }

        .worldcard-property-arrow {
            width: 15px;
            height: 15px;
            fill: white;
            stroke: black;
            stroke-width: 30px;
            cursor: pointer;
            user-select: none;
        }
        
        input[type='number'] {
            color: white;
            appearance: textfield;
            padding: 0;
            font-size: 2rem;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }

    .worldcard-attack-container {
        left: 5%;
    }
    .worldcard-health-container {
        right: 6%;
    }

    &.boss {
        .worldcard-property-arrow {
            visibility: hidden;
        }
    }
}

.worldcard--add {
    background-image: url("./assets/images/card-add.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;

    svg {
        fill: white;
    }

    &:hover {
        filter: brightness(1.1);
        scale: 1.05;
    }
}