:root {
    --font: "Voska";
    --clr-background: hsl(27, 23%, 17%);
    --clr-ui-bg: hsl(27, 23%, 75%);
    --clr-ui-bg-dark: hsl(27, 23%, 55%);
    --clr-text: hsl(27, 23%, 80%);
    --clr-text-dark: hsl(27, 23%, 25%);
    --clr-boss-highlight: hsl(120, 68%, 45%);
    --clr-error: hsl(0 70 30);

    --bg-card-ui: var(--clr-ui-bg);

    --card-button-shadow: drop-shadow(0 0 6px black);
    --card-property-shadow: drop-shadow(0 0 6px black);
}

@font-face {
    font-family: "Voska";
    src: url("./assets/fonts/Voska.otf");
}

* {
    box-sizing: border-box;
    font-family: var(--font);
}

body {
    margin: 0;
    /* background-color: var(--clr-background); */
    background: url("./assets/images/body_bg.png");
    background-size: contain;
    color: var(--clr-text);
    min-height: 100dvh;
}

button.svgbutton {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    user-select: none;
}

.svgbutton {
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        filter: brightness(1.2);
        scale: 1.1;
    }

    &:active {
        scale: 0.8;
        opacity: 0.8;
    }

    &[data-disabled="true"] {
        pointer-events: none;
        opacity: 0.5;
    }
}

input.input:is([type="text"], [type="number"], [type="password"], [type="email"]), select.input, button.button {
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 0.2em 0.6em;
    /* background-color: transparent; */
    /* border: 1px solid var(--clr-text); */
    /* color: var(--clr-text); */
    border: none;

    background-color: var(--clr-ui-bg-dark);
    color: var(--clr-text-dark);

    &::placeholder {
        color: hsl(from var(--clr-text-dark) h s l / 0.5)
    }
}

input.input:is([type="text"], [type="number"], [type="password"], [type="email"]) {
    background-image:
        url("./assets/images/input-bg-left.webp"),
        url("./assets/images/input-bg-right.webp"),
        url("./assets/images/input-bg-center.webp");

    background-repeat: no-repeat, no-repeat, repeat-x;
    background-size: contain;
    background-position: left, right, center;
    background-color: transparent;
    color: var(--clr-text);
    padding: 0.5em 0.8em !important;
}

:is(textarea, input)[readonly] {
    pointer-events: none;
}

button.button {
    transition: 0.2s;
    cursor: pointer;
    background-image:
        url("./assets/images/btn-bg-left.webp"),
        url("./assets/images/btn-bg-right.webp"),
        url("./assets/images/btn-bg-center.webp");

    background-repeat: no-repeat, no-repeat, repeat-x;
    background-size: contain;
    background-position: left, right, center;
    background-color: transparent;
    padding: 1em 1.2em !important;
    border-radius: 0;
    user-select: none;

    &:hover {
        filter: brightness(1.1);
        scale: 1.05;
    }

    &:active {
        filter: brightness(1.1);
        scale: 0.8;
    }

    &:disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

select.input {
    cursor: pointer;

    option {
        background-color: var(--clr-ui-bg);
        color: var(--clr-text-dark);
    }
}

/* select.input {
    cursor: pointer;
    appearance: base-select;
}

select.input::picker-icon {
    content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2211.15%22%20height%3D%226.55%22%20viewBox%3D%220%200%202.95%201.733%22%20xmlns%3Av%3D%22https%3A%2F%2Fvecta.io%2Fnano%22%3E%3Cpath%20d%3D%22M1.475%201.733q-.053%200-.099-.017Q1.33%201.7%201.29%201.66L.073.443Q0%20.37%200%20.258%200%20.145.073.072.146%200%20.258%200%20.37%200%20.443.072l1.032%201.032L2.507.072Q2.58%200%202.692%200q.112%200%20.185.073.073.073.073.185%200%20.112-.073.185L1.66%201.66q-.04.04-.086.056-.046.017-.099.017z%22%2F%3E%3C%2Fsvg%3E");
    transition: 0.2s;
}

select.input:open::picker-icon {
    rotate: 180deg;
    translate: 0 5px;
}

select.input option {
    padding-inline: 0.4em;
} */

dialog.dialog {
    width: min(100%, 65ch);
    min-height: 80%;
    border-radius: 10px;
    background: var(--bg-card-ui);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    padding: 4vw 7vh;
    position: relative;
    transition: 0.2s;
    transition-behavior: allow-discrete;
    position: fixed;

    &:not([open]) {
        scale: 0;
        opacity: 0;
        translate: 0 100%;

        &::backdrop {
            opacity: 0;
        }
    }

    @starting-style {
        scale: 0;
        opacity: 0;
        translate: 0 100%;

        &::backdrop {
            opacity: 0;
        }
    }


    &::backdrop {
        background-color: hsl(0 0 0 / 0.6);
        backdrop-filter: blur(10px);
    }

    .dialog-close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 2.5rem;
        height: 2.5rem;
        fill: var(--clr-text-dark);
    }

    h1 {
        text-align: center;
    }
}

.dialog-account {
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        color: var(--clr-text-dark);

        label {
            display: flex;
            flex-direction: column;
            gap: 5px;
            font-size: 1.2rem;
            width: 100%;
        }

        input, button {
            font-size: 1.4rem !important;
        }

        input {
            padding: 0.4em 0.6em !important;
        }
        
        button[type="submit"] {
            width: 100%;
            margin-top: 1.5rem;
        }
        
        .form-error, .input-error {
            color: var(--clr-error);
            font-size: 1.2rem;
            align-self: flex-start;
            min-height: 1lh;
        }

        input:user-invalid {
            background-color: hsl(from var(--clr-ui-bg-dark) 0 s l);
        }
    }
}



.screen-container {
    display: flex;
    height: 100%;
    padding: min(2rem, 4vh) min(3rem, 6vw);
    padding-bottom: 0;
}

.screen-container[data-screen="home"] > .screen:not(.screen--home),
.screen-container[data-screen="world"] > .screen:not(.screen--world),
.screen-container[data-screen="game-deck"] > .screen:not(.screen--game-deck),
.screen-container[data-screen="game-battle"] > .screen:not(.screen--game-battle)
{
    display: none;
}


.screen {
    width: 100%;
}

.screen--home > .game-logo {
    font-size: 3rem;
    margin-top: 0;
}

.screen--home nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.account-section {
    &[data-logged-in="false"] .account-logged-in,
    &[data-logged-in="true"] .account-logged-out
    {
        display: none;
    }
    
    .account-section-content {
        display: flex;
        align-items: center;
        gap: 8px;
        position: relative;
    }

    .account-username {
        font-size: 1.4rem;
        font-weight: bold;
    }

    .account-menu-open {
        /* cursor: pointer; */
        user-select: none;
        position: relative;
        display: flex;
        align-items: center;
        gap: 1ch;
        transition: 0.2s;

        &:hover {
            opacity: 0.8;
        }
        
        svg {
            fill: var(--clr-text);
            width: 2.5rem;
            height: 2.5rem;
        }

        input[type="checkbox"] {
            position: absolute;
            inset: 0;
            cursor: pointer;
            appearance: none;

            &:checked {
                position: fixed;
                inset: 0;
                cursor: default;
            }
        }
    }

    &:has(.account-menu-open > input[type="checkbox"]:checked) .account-menu-open {
        color: var(--clr-ui-bg-dark);

        svg {
            fill: var(--clr-ui-bg-dark);
        }
    }

    &:has(.account-menu-open > input[type="checkbox"]:not(:checked)) .account-menu {
        opacity: 0;
        pointer-events: none;
    }

    .account-menu {
        position: absolute;
        top: 100%;
        right: 0;
        translate: 0 5px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 1.1rem;
        background: var(--clr-ui-bg-dark);
        border-radius: 10px;
        transition: 0.2s;

    }

    .account-menu-item {
        background: var(--clr-ui-bg-dark);
        color: var(--clr-text-dark);
        border-radius: 10px;
        padding: 0.6em 0.8em;
        cursor: pointer;
        transition: 0.2s;
        user-select: none;

        &:hover {
            filter: brightness(1.2);
        }
    }
}



.status-message {
    font-size: 1.2rem;
    font-weight: bold;
    margin-block: 0.4em;

    &[data-type="error"] {
        color: hsl(from var(--clr-error) h s 60%);
    }
    &[data-type="success"] {
        color: hsl(from var(--clr-error) 110 s 60%);
    }
}

.worlds-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

body[data-logged-in="false"] .section--games {
    display: none;
}

.world, .game {
    position: relative;
    background-color: var(--clr-ui-bg);
    color: var(--clr-text-dark);
    padding: 1em 1.4em;
    width: 200px;
    border-radius: 10px;
    /* cursor: pointer; */
    /* transition: 0.2s; */

    .world-title, .game-title {
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 0.4em;
    }

    .world-buttons, .game-buttons {
        margin-top: 1.5em;
        user-select: none;

        .svgbutton {
            fill: var(--clr-text-dark);
            width: 3rem;
            height: 3rem;
        }
    }

   /*  &:hover {
        filter: brightness(1.1);
        scale: 1.05;
    } */
}

.world--add {
    cursor: pointer;
    transition: 0.2s;
    user-select: none;
    min-height: 200px;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 40%;
        height: 40%;
        fill: var(--clr-text-dark);
    }

    &:hover {
        scale: 1.05;
    }

    &:active {
        scale: 0.9;
    }
}



.world-grid {
    display: grid;
    grid-template-columns: 5fr 4fr 35ch;
    gap: 40px;
}

.world-nav {
    display: flex;
    align-items: center;
    gap: 20px;

    h2 {
        margin-block: 0;
    }

    .world-back-button img {
        /* width: 3em; */
        height: 1.5rem;
        /* fill: var(--clr-text); */
    }
}


.screen--world section {
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100dvh - 50px - 2 * min(2.5rem, 6vh));
}

.section--worldcards {
    padding: 5px;
}

.section--casemates {
    padding-inline: 10px;
}

.worldcards, .worldcards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 5px;
}

.worldcards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, auto));
    padding: 5px;
}

.worldcard {
    /* width: 200px; */
    aspect-ratio: 241 / 344;
    border-radius: 20px;
    color: white;
    container-type: inline-size;
    cursor: grab;

    &.no-drag {
        cursor: default;
    }

    &.clickable {
        cursor: pointer !important;
        transition: 0.2s;

        &:hover {
            filter: brightness(1.1);
            scale: 1.05;
        }
    }

    .worldcard-grid {
        width: 100%;
        height: 100%;
        text-align: center;
        background-image: url("./assets/images/card-bg-earth.webp");
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 40% 1fr;
        justify-items: center;
        padding-inline: 10cqmin;
        padding-top: 3.5cqh;
        padding-bottom: 2cqh;

        /* &::before {
            content: "";
            position: absolute;
            inset: 0;
            backdrop-filter: brightness(.8);
        } */
    }
    
    .worldcard-delete {
        fill: white;
        position: absolute;
        top: 5px;
        right: 10px;
        cursor: pointer;
        user-select: none;

        img {
            width: 12cqw;
        }
    }

    .worldcard-boss-icon {
        position: absolute;
        left: 50%;
        bottom: 0;
        translate: -50% 10px;

        img {
            width: 30cqw;
        }
    }

    .worldcard-property {
        color: white;
    }

    input, textarea {
        border: none;
        background-color: transparent;
        resize: none;
        width: 100%;
        text-align: center;
        color: white;
        outline: none;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    .worldcard-name {
        padding: 5cqw 6cqw;
        margin: 0 auto;
        font-size: 13cqmin;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        grid-column: 1 / -1;
        background-image: url("./assets/images/text-banner.webp");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        &::placeholder {
            color: var(--clr-text);
        }
    }

    .worldcard-name::placeholder {
        text-shadow: none;
    }

    .worldcard-property-container {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-rows: auto auto auto auto;
        border-radius: 50%;
        align-self: end;

        .worldcard-property-icon-container {
            position: relative;
        }

        .worldcard-property-icon {
            position: absolute;
            /* width: min(100px, 48cqw); */
            width: 48cqw;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            filter: var(--card-property-shadow);
            user-select: none;
        }

        .worldcard-promote {
            height: 20cqmin;
            filter: var(--card-button-shadow);
            transition: 0.2s;
            cursor: pointer;
            user-select: none;
            fill: white;
            margin-bottom: 1cqh;
            
            &:hover {
                /* filter: drop-shadow(0 0 4px black) brightness(1.2); */
                /* filter: var(--card-button-shadow); */
                scale: 1.05;
                translate: 0 -5px;
            }
            
            &:active {
                scale: 0.8;
            }
        }

        .worldcard-property-arrow {
            width: 15px;
            height: 15px;
            fill: white;
            stroke: black;
            stroke-width: 30px;
            cursor: pointer;
            user-select: none;
        }

        .worldcard-property-arrow[data-disabled="true"] {
            pointer-events: none;
            fill: #aaa;
            opacity: 0.6;
        }
        
        input[type='number'] {
            color: white;
            appearance: textfield;
            padding: 0;
            font-size: min(2rem, 16cqmin);
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }

    .worldcard-property, .worldcard-property-arrow, .worldcard-promote, .worldcard-type-picker {
        position: relative;
        z-index: 1;
    }

    .worldcard-type-picker {
        width: 25cqmin;
        height: 25cqmin;
        background-image: url("./assets/images/earth_icon.png");
        background-size: contain;
        background-repeat: no-repeat;
        align-self: center;
        position: relative;
        filter: var(--card-button-shadow);
        transition: 0.2s;

        &:hover {
            scale: 1.05;
            filter: var(--card-button-shadow) brightness(1.1);
        }

        &:active {
            scale: 0.9;
            filter: var(--card-button-shadow);
        }

        &:has(input[type="radio"]:disabled) {
            &, input {
                pointer-events: none;
            }
        }

        input[type="radio"] {
            position: absolute;
            inset: 0;
            appearance: none;
            cursor: pointer;
            user-select: none;
            margin: 0;
            z-index: 4;
        }

        &:has(input[type="radio"][value="earth"]:checked) {
            background-image: url("./assets/images/earth_icon.png");
        }
        &:has(input[type="radio"][value="fire"]:checked) {
            background-image: url("./assets/images/fire_icon.png");
        }
        &:has(input[type="radio"][value="water"]:checked) {
            background-image: url("./assets/images/water_icon.png");
        }
        &:has(input[type="radio"][value="air"]:checked) {
            background-image: url("./assets/images/wind_icon.png");
        }

        &:has(input[type="radio"][value="earth"]:checked) input[type="radio"]:not([value="fire"]),
        &:has(input[type="radio"][value="fire"]:checked) input[type="radio"]:not([value="water"]),
        &:has(input[type="radio"][value="water"]:checked) input[type="radio"]:not([value="air"]),
        &:has(input[type="radio"][value="air"]:checked) input[type="radio"]:not([value="earth"])
        {
            display: none;
        }
    }

    &:has(.worldcard-type-picker input[type="radio"][value="earth"]:checked) .worldcard-grid {
        background-image: url("./assets/images/card-bg-earth.webp");
    }
    &:has(.worldcard-type-picker input[type="radio"][value="fire"]:checked) .worldcard-grid {
        background-image: url("./assets/images/card-bg-fire.webp");
    }
    &:has(.worldcard-type-picker input[type="radio"][value="water"]:checked) .worldcard-grid {
        background-image: url("./assets/images/card-bg-water.webp");
    }
    &:has(.worldcard-type-picker input[type="radio"][value="air"]:checked) .worldcard-grid {
        background-image: url("./assets/images/card-bg-air.webp");
    }

    &.readonly {
        .worldcard-type-picker {
            pointer-events: none;
            filter: none;
        }
    }

    &.boss {
        filter: hue-rotate(10deg);

        .worldcard-property-arrow {
            visibility: hidden;
        }

        .worldcard-type-picker {
            pointer-events: none;
            filter: none;
        }

        .worldcard-name {
            color: var(--clr-boss-highlight);
        }
    }

    &.boss--health .worldcard-promote[data-boss-type="health"],
    &.boss--attack .worldcard-promote[data-boss-type="attack"]
    {
        fill: var(--clr-boss-highlight);
        pointer-events: none;
        filter: none;
    }
    
    .worldcard-promote[data-disabled="true"] {
        pointer-events: none;
        filter: none;
    }

    &.boss--health .worldcard-property[name="health"],
    &.boss--attack .worldcard-property[name="attack"]
    {
        color: var(--clr-boss-highlight);
    }
}

.worldcard--add {
    background-image: url("./assets/images/card-bg-placeholder-gray.webp");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;

    img {
        width: 50%;
    }

    &:hover {
        filter: brightness(1.1);
        scale: 1.05;
    }
}



.casemate-cards-wrapper {
    position: relative;

    &.hidden {
        display: none;
    }
}

.casemate-cards-container, .casemate-cards-placeholder, .game-collection-container {
    --breakpoint: 150px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--breakpoint), auto));
    gap: 20px 5px;
    padding: 5px;
}

.casemate-cards-container {
    position: absolute;
    inset: 0;
    height: 100%;
    height: min-content;
    padding-bottom: 300px;
    z-index: 1;
}

.worldcard-placeholder {
    aspect-ratio: 241 / 344;
    border-radius: 20px;
    background-image: url("./assets/images/card-bg-placeholder.webp");
    background-size: contain;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    opacity: 0.5;
    order: 999;
    
    &.hidden {
        opacity: 0;
    }
    
    &:not(.hidden) {
        animation: placeholder-pulse 1s alternate infinite;
    }
    
    &.boss {
        background-image: url("./assets/images/card-bg-placeholder-boss.webp");
    }
}

.casemate-cards-ordinary-wrapper {
    margin-bottom: 40px;
}

@keyframes placeholder-pulse {
    from {
        filter: grayscale(0.7) brightness(1);
        scale: 1;
    }
    to {
        filter: grayscale(0.6) brightness(1.2);
        scale: 1.03;
    }
}

.casemate-ordinary-container, .casemate-boss-container {
    min-height: 100px;
}

.section--casemate-cards:not(:has(.casemate-cards-placeholder.casemate-boss-placeholder > .worldcard-placeholder)) .casemate-boss-cards-h3 {
    display: none;
}

.section--casemate-cards:not(:has(:is(.casemate-cards-container.casemate-ordinary-container, .casemate-cards-container.casemate-ordinary-placeholder) > :is(.worldcard, .worldcard-placeholder)))::after {
    content: "Húzd ide a kártyákat!";
    font-size: 1.2rem;
}


.casemates-container, .collections-container, .game-casemates-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 10px;
}

.collection {
    background: var(--bg-card-ui);
    background-position: center;
    padding: 12px;
    color: var(--clr-text-dark);
    border-radius: 10px;
    transition: 0.2s;
    cursor: pointer;
    font-size: 1.2rem;
    user-select: none;
}

:is(.casemate, .collection).selected {
    border: 4px solid var(--clr-ui-bg-dark);
    box-shadow: 1px 2px 10px var(--clr-ui-bg-dark);
    scale: 1.06;
    transform-origin: right;
}

.casemate {
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;
    gap: 10px 5px;
    background: var(--bg-card-ui);
    /* background: url("./assets/images/casemate-bg.png"); */
    background-position: center;
    padding: 12px;
    color: var(--clr-text-dark);
    border-radius: 10px;
    transition: 0.2s;
    cursor: pointer;

    .casemate-delete {
        fill: var(--clr-text-dark);
        height: 20px;
        justify-self: center;
    }

    .casemate-type-container:not(:has(select)) {
        pointer-events: none;
    }

    .casemate-incomplete {
        /* fill: hsl(from var(--clr-ui-bg-dark) 0 70% l); */
        height: 30px;
        justify-self: center;
    }

    &:not(.incomplete) .casemate-incomplete {
        display: none;
    }

    div.casemate-name {
        font-weight: bold;
        font-size: 1.3rem;
    }
}

.casemate--add {
    padding: 5px;
    cursor: pointer;
    transition: 0.2s;
    padding: 15px;
    text-align: center;

    img {
        height: 50px;
        fill: var(--clr-ui-bg-dark);
    }

    &:hover {
        scale: 1.05;
    }
}



.game-titlebar {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 4rem;

    .game-back-button img {
        width: 1.5rem;
    }
}

.screen--game-deck {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
        "title          title           title"
        "collection     casemate-cards  casemates"
        "collection     player-cards    casemates";
    grid-template-columns: min(300px, 25%) auto 25ch;
    grid-template-rows: 4rem 1fr 1fr;
    gap: 20px;


    .game-titlebar {
        grid-area: title;
    }

    .game-collection {
        grid-area: collection;
    }

    .game-casemate-cards {
        grid-area: casemate-cards;
    }
    
    /* .game-start {
        grid-area: game-start;
        display: flex;
        justify-content: center;
        align-items: center;
    } */

    .game-casemates {
        grid-area: casemates;
    }

    .game-player-cards {
        grid-area: player-cards;
    }

    .game-collection-container {
        --breakpoint: 120px;
        padding-bottom: 40px;
    }

    .game-collection, .game-casemate {
        height: calc(100dvh - 60px - 60px);
        overflow-y: auto;
    }

    .game-collection {
        overflow-x: hidden;
    }

    .game-card-container, .game-player-cards-container, .game-player-cards-placeholder {
        display: grid;
        grid-template-columns: repeat(6, 1fr) !important;
        gap: 5px;
        max-height: 23dvh;

        .worldcard, .worldcard-placeholder {
            /* max-height: 20vh !important; */
            height: min(25dvh, calc(67vw / 6));
        }
    }

    .game-cards {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .game-player-cards-wrapper {
        position: relative;
        overflow: hidden;
        height: 100%;
    }

    .game-player-cards-container, .game-player-cards-placeholder {
        --breakpoint: 130px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(var(--breakpoint), auto));
        gap: 20px 5px;
        padding: 5px;
    }

    .game-player-cards-container {
        position: absolute;
        inset: 0;
        height: 100%;
        height: min-content;
        /* padding-bottom: 300px; */
        z-index: 1;
    }

    .casemate {
        user-select: none;
    }
}


.screen--game-battle {

    .battle-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: min(30px, 5dvh);
    }

    .battle-casemate-cards-container, .battle-player-cards-container {
        --cards: 1;
        display: grid;
        grid-template-columns: repeat(var(--cards), 1fr) !important;
        gap: 5px;

        .worldcard, .worldcard-placeholder {
            height: min(35dvh, calc(120vw / 4));
        }
    }

    .worldcard.fighting {
        --direction: 1;
        animation: fighting 0.5s alternate infinite ease-in-out;
    }

    .battle-player-cards-container .worldcard {
        --direction: -1;
    }

    .worldcard {
        transition: 0.2s;
    }

    .worldcard.lost {
        opacity: 0.8;
        filter: brightness(0.2);
        scale: 0.85;
    }

    .battle-container {
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: 1fr auto;
        justify-items: center;
    }
    
    .battle-cards, .battle-scores {
        display: grid;
    }
    
    .battle-score {
        display: flex;
        align-items: center;
        font-size: 2rem;
        gap: 10px;
        
        img {
            height: 3rem;
        }
    }

    .battle-cards {
        position: relative;
    }

    .battle-result {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        font-weight: bold;
        color: var(--clr-text);
        transition: 0.2s;
        font-size: 0rem;
        text-shadow: 0 0 6px black;
        width: max-content;
    }

    .battle-result.show {
        font-size: min(5rem, 10vw);
    }
}

@keyframes fighting {
    from {
        translate: 0 0;
    }
    to {
        translate: 0 calc(10% * var(--direction));
    }
}

@keyframes damage {
    from {
        scale: 1;
    }
    to {
        scale: 1.2;
    }
}


dialog.dialog-upgrade-cards {
    width: min(90%, 1000px);
    height: 90%;
    padding: 0.4rem 2rem;
    outline: none;
    background-color: var(--clr-ui-bg-dark);

    .cards-upgrade-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, auto));
        gap: 10px;
        padding: 5px;
        overflow-y: auto;
        height: calc(100% - 12rem);
    }

    .upgrades-to-spend {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        font-size: 1.5rem;

        img {
            height: 5rem;
        }
    }
}